p {
  font-size: 6rem;
}
.step-4 {
  background-color: #fff;
  text-align: center;
  display: block;
  width: 100%;

  &__title {
  }
}
.navigation__step {
  float: left;
  width: 84px;
  height: 28px;
  margin-right: 5px;
  border-radius: 14px;
  background-color: #ccc;
  text-align: center;

  &--active {
    background-color: #66cc33 !important;
  }
}
.main-title {
  font-family: LeroyMerlinBold;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
