.risultati {
  &-section {
    width: 100%;
    padding: 0;
    display: block;
    margin: 0 auto;
    ul {
      list-style-type: none;
      display: block;
      margin: 0 auto;
      padding: 0;
      font-family: LeroyMerlinLight;
      li {
        a {
          text-decoration: none;
          font-size: 12px;
          color: #fff;
          margin: 0;
        }
      }
    }
  }
}
.chips-container {
  width: 100%;
  display: block;
}
.space {
  margin-bottom: 30px;
}
.card {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;

  width: 100%;
  &__box-text {
    margin: 15px auto;
  }
  p {
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000;
    font-family: LeroyMerlinLight;
  }

  &__main-title {
    font-family: LeroyMerlinBold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #000000;
    margin: 0;
  }
  &__box-img {
    width: 100%;
    height: 76px;
    background-image: url(https://image.shutterstock.com/image-photo/fat-raccoon-260nw-1097222504.jpg);
    background-position: top center;
    background-size: cover;
    margin: 15px auto;
  }

  &__btn {
    display: block;
    width: 100%;
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 18px 17px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #66cc33;
    .active {
      color: #fff;
      text-decoration: none;
    }
  }
  &__btn:hover {
    color: #fff;
    text-decoration: none;
  }
}

.main-title {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin: 30px auto;
}
